@import '../../../public/styles/vars.scss';

.mainWrapper {
  display: flex;
  flex-wrap: wrap;
}


.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;

  & > img {
    width: auto;
    object-fit: scale-down;
  }
}